# Supabase Configuration
SUPABASE_URL=https://occthabecpiqaciisskp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9jY3RoYWJlY3BpcWFjaWlzc2twIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NTUwOTEsImV4cCI6MjA4OTIzMTA5MX0.fjOS7l_cP_CxaFL-tJvAnB6BFt2INIpq9nhNAsvo3Xo

# Google Gemini API Key
GOOGLE_API_KEY=[AIzaSyABgDTGXCcqOrd9QipGAVLU-7FVm2IWzq0]
